# ========================
# C++ / CMake
# ========================
build/
CMakeCache.txt
CMakeFiles/
*.ninja
*.exe
*.obj
*.o

# ========================
# .NET
# ========================
**/bin/
**/obj/

# ========================
# Visual Studio
# ========================
.vs/
*.user
*.suo

# ========================
# OS / Editor noise
# ========================
.DS_Store
Thumbs.db
*.log
